In [41]:
import pandas as pd
import numpy as np

%matplotlib inline

# Reading a csv into Pandas

In [2]:
df = pd.read_csv('iris.csv', header=0)
# If there are no column names you can set header to None.

# Getting first x rows.

In [3]:
df.head(2)

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa

# Getting last x rows.

In [4]:
df.tail(2)

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

# Changing column labels.

In [5]:
df.columns = ['idx','sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df.head(2)

   idx  sepal_length  sepal_width  petal_length  petal_width species
0    1           5.1          3.5           1.4          0.2  setosa
1    2           4.9          3.0           1.4          0.2  setosa

# Finding out how many rows dataset has.

In [6]:
len(df)

150

# Finding out basic statistical information on your dataset.

In [7]:
pd.options.display.float_format = '{:,.3f}'.format 
# Limit output to 3 decimal places.
df.describe()

          idx  sepal_length  sepal_width  petal_length  petal_width
count 150.000       150.000      150.000       150.000      150.000
mean   75.500         5.843        3.057         3.758        1.199
std    43.445         0.828        0.436         1.765        0.762
min     1.000         4.300        2.000         1.000        0.100
25%    38.250         5.100        2.800         1.600        0.300
50%    75.500         5.800        3.000         4.350        1.300
75%   112.750         6.400        3.300         5.100        1.800
max   150.000         7.900        4.400         6.900        2.500

# Getting a column by label

In [8]:
df['sepal_length']

0     5.100
1     4.900
2     4.700
3     4.600
4     5.000
5     5.400
6     4.600
7     5.000
8     4.400
9     4.900
10    5.400
11    4.800
12    4.800
13    4.300
14    5.800
15    5.700
16    5.400
17    5.100
18    5.700
19    5.100
20    5.400
21    5.100
22    4.600
23    5.100
24    4.800
25    5.000
26    5.000
27    5.200
28    5.200
29    4.700
       ...
120   6.900
121   5.600
122   7.700
123   6.300
124   6.700
125   7.200
126   6.200
127   6.100
128   6.400
129   7.200
130   7.400
131   7.900
132   6.400
133   6.300
134   6.100
135   7.700
136   6.300
137   6.400
138   6.000
139   6.900
140   6.700
141   6.900
142   5.800
143   6.800
144   6.700
145   6.700
146   6.300
147   6.500
148   6.200
149   5.900
Name: sepal_length, dtype: float64

# Getting a column by label using .

In [9]:
df.sepal_length

0     5.100
1     4.900
2     4.700
3     4.600
4     5.000
5     5.400
6     4.600
7     5.000
8     4.400
9     4.900
10    5.400
11    4.800
12    4.800
13    4.300
14    5.800
15    5.700
16    5.400
17    5.100
18    5.700
19    5.100
20    5.400
21    5.100
22    4.600
23    5.100
24    4.800
25    5.000
26    5.000
27    5.200
28    5.200
29    4.700
       ...
120   6.900
121   5.600
122   7.700
123   6.300
124   6.700
125   7.200
126   6.200
127   6.100
128   6.400
129   7.200
130   7.400
131   7.900
132   6.400
133   6.300
134   6.100
135   7.700
136   6.300
137   6.400
138   6.000
139   6.900
140   6.700
141   6.900
142   5.800
143   6.800
144   6.700
145   6.700
146   6.300
147   6.500
148   6.200
149   5.900
Name: sepal_length, dtype: float64

# Creating a series of booleans based on a conditional

In [10]:
df.sepal_length < 5 # Or df['sepal_length'] < 5

0      False
1       True
2       True
3       True
4      False
5      False
6       True
7      False
8       True
9       True
10     False
11      True
12      True
13      True
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22      True
23     False
24      True
25     False
26     False
27     False
28     False
29      True
       ...
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Name: sepal_length, dtype: bool

# Using a series of booleans to filter

In [11]:
df[df.sepal_length < 5]

     idx  sepal_length  sepal_width  petal_length  petal_width     species
1      2         4.900        3.000         1.400        0.200      setosa
2      3         4.700        3.200         1.300        0.200      setosa
3      4         4.600        3.100         1.500        0.200      setosa
6      7         4.600        3.400         1.400        0.300      setosa
8      9         4.400        2.900         1.400        0.200      setosa
9     10         4.900        3.100         1.500        0.100      setosa
11    12         4.800        3.400         1.600        0.200      setosa
12    13         4.800        3.000         1.400        0.100      setosa
13    14         4.300        3.000         1.100        0.100      setosa
22    23         4.600        3.600         1.000        0.200      setosa
24    25         4.800        3.400         1.900        0.200      setosa
29    30         4.700        3.200         1.600        0.200      setosa
30    31         4.800        3.100         1.600        0.200      setosa
34    35         4.900        3.100         1.500        0.200      setosa
37    38         4.900        3.600         1.400        0.100      setosa
38    39         4.400        3.000         1.300        0.200      setosa
41    42         4.500        2.300         1.300        0.300      setosa
42    43         4.400        3.200         1.300        0.200      setosa
45    46         4.800        3.000         1.400        0.300      setosa
47    48         4.600        3.200         1.400        0.200      setosa
57    58         4.900        2.400         3.300        1.000  versicolor
106  107         4.900        2.500         4.500        1.700   virginica

# Filtering by multiple conditionals

In [12]:
df[(df.sepal_length < 5) & (df.sepal_width > 3)] 
# Can't use the keyword 'and'

    idx  sepal_length  sepal_width  petal_length  petal_width species
2     3         4.700        3.200         1.300        0.200  setosa
3     4         4.600        3.100         1.500        0.200  setosa
6     7         4.600        3.400         1.400        0.300  setosa
9    10         4.900        3.100         1.500        0.100  setosa
11   12         4.800        3.400         1.600        0.200  setosa
22   23         4.600        3.600         1.000        0.200  setosa
24   25         4.800        3.400         1.900        0.200  setosa
29   30         4.700        3.200         1.600        0.200  setosa
30   31         4.800        3.100         1.600        0.200  setosa
34   35         4.900        3.100         1.500        0.200  setosa
37   38         4.900        3.600         1.400        0.100  setosa
42   43         4.400        3.200         1.300        0.200  setosa
47   48         4.600        3.200         1.400        0.200  setosa

# Filtering by string methods

In [13]:
df[df.species.str.startswith('seto')]

    idx  sepal_length  sepal_width  petal_length  petal_width species
0     1         5.100        3.500         1.400        0.200  setosa
1     2         4.900        3.000         1.400        0.200  setosa
2     3         4.700        3.200         1.300        0.200  setosa
3     4         4.600        3.100         1.500        0.200  setosa
4     5         5.000        3.600         1.400        0.200  setosa
5     6         5.400        3.900         1.700        0.400  setosa
6     7         4.600        3.400         1.400        0.300  setosa
7     8         5.000        3.400         1.500        0.200  setosa
8     9         4.400        2.900         1.400        0.200  setosa
9    10         4.900        3.100         1.500        0.100  setosa
10   11         5.400        3.700         1.500        0.200  setosa
11   12         4.800        3.400         1.600        0.200  setosa
12   13         4.800        3.000         1.400        0.100  setosa
13   14         4.300        3.000         1.100        0.100  setosa
14   15         5.800        4.000         1.200        0.200  setosa
15   16         5.700        4.400         1.500        0.400  setosa
16   17         5.400        3.900         1.300        0.400  setosa
17   18         5.100        3.500         1.400        0.300  setosa
18   19         5.700        3.800         1.700        0.300  setosa
19   20         5.100        3.800         1.500        0.300  setosa
20   21         5.400        3.400         1.700        0.200  setosa
21   22         5.100        3.700         1.500        0.400  setosa
22   23         4.600        3.600         1.000        0.200  setosa
23   24         5.100        3.300         1.700        0.500  setosa
24   25         4.800        3.400         1.900        0.200  setosa
25   26         5.000        3.000         1.600        0.200  setosa
26   27         5.000        3.400         1.600        0.400  setosa
27   28         5.200        3.500         1.500        0.200  setosa
28   29         5.200        3.400         1.400        0.200  setosa
29   30         4.700        3.200         1.600        0.200  setosa
30   31         4.800        3.100         1.600        0.200  setosa
31   32         5.400        3.400         1.500        0.400  setosa
32   33         5.200        4.100         1.500        0.100  setosa
33   34         5.500        4.200         1.400        0.200  setosa
34   35         4.900        3.100         1.500        0.200  setosa
35   36         5.000        3.200         1.200        0.200  setosa
36   37         5.500        3.500         1.300        0.200  setosa
37   38         4.900        3.600         1.400        0.100  setosa
38   39         4.400        3.000         1.300        0.200  setosa
39   40         5.100        3.400         1.500        0.200  setosa
40   41         5.000        3.500         1.300        0.300  setosa
41   42         4.500        2.300         1.300        0.300  setosa
42   43         4.400        3.200         1.300        0.200  setosa
43   44         5.000        3.500         1.600        0.600  setosa
44   45         5.100        3.800         1.900        0.400  setosa
45   46         4.800        3.000         1.400        0.300  setosa
46   47         5.100        3.800         1.600        0.200  setosa
47   48         4.600        3.200         1.400        0.200  setosa
48   49         5.300        3.700         1.500        0.200  setosa
49   50         5.000        3.300         1.400        0.200  setosa

# Getting a row via a numerical index

In [14]:
df.iloc[30]

idx                 31
sepal_length     4.800
sepal_width      3.100
petal_length     1.600
petal_width      0.200
species         setosa
Name: 30, dtype: object

# Setting a new index from an existing column

In [15]:
df = df.set_index(['idx'])
# This will make the column ‘idx’ an index.
df.head(5)

     sepal_length  sepal_width  petal_length  petal_width species
idx
1           5.100        3.500         1.400        0.200  setosa
2           4.900        3.000         1.400        0.200  setosa
3           4.700        3.200         1.300        0.200  setosa
4           4.600        3.100         1.500        0.200  setosa
5           5.000        3.600         1.400        0.200  setosa

# Getting a row via a label-based index

In [16]:
df.loc[30]
# This, like iloc will return a series of the row you reference. 
# The only difference is this time you are using label based 
# referencing not numerical based.
# Note: idx starts from 1 while index starts from 0

sepal_length     4.700
sepal_width      3.200
petal_length     1.600
petal_width      0.200
species         setosa
Name: 30, dtype: object

# Getting a row via a label-based or numerical index

In [17]:
df.ix[30] 
# Label based with numerical index fallback 
# *Not recommended

sepal_length     4.700
sepal_width      3.200
petal_length     1.600
petal_width      0.200
species         setosa
Name: 30, dtype: object

# sort index

In [18]:
df.sort_index(ascending=False).head(5) 
#inplace=True to apple the sorting in place

     sepal_length  sepal_width  petal_length  petal_width    species
idx
150         5.900        3.000         5.100        1.800  virginica
149         6.200        3.400         5.400        2.300  virginica
148         6.500        3.000         5.200        2.000  virginica
147         6.300        2.500         5.000        1.900  virginica
146         6.700        3.000         5.200        2.300  virginica

# Returning an index to data

In [19]:
df = df.reset_index('idx')
df.head(5)

   idx  sepal_length  sepal_width  petal_length  petal_width species
0    1         5.100        3.500         1.400        0.200  setosa
1    2         4.900        3.000         1.400        0.200  setosa
2    3         4.700        3.200         1.300        0.200  setosa
3    4         4.600        3.100         1.500        0.200  setosa
4    5         5.000        3.600         1.400        0.200  setosa

# Add random date column

In [20]:
year = np.random.randint(low=1980,high=2016,size=len(df))
month = np.random.randint(low=1,high=13,size=len(df))
date = []
for y, m in zip(year, month):
    y = str(y)
    m = str(m)
    date.append('/'.join((y, m)))

In [21]:
df['date'] = pd.Series(date, index=df.index)
# df['date']=pd.Series(np.random.randint(low=1980,high=2016,size=len(df)), index=df.index)
df.head(5)

   idx  sepal_length  sepal_width  petal_length  petal_width species    date
0    1         5.100        3.500         1.400        0.200  setosa  1999/6
1    2         4.900        3.000         1.400        0.200  setosa  2011/5
2    3         4.700        3.200         1.300        0.200  setosa  1997/3
3    4         4.600        3.100         1.500        0.200  setosa  2015/2
4    5         5.000        3.600         1.400        0.200  setosa  1991/1

# Applying a function to a column

In [22]:
def get_year(date):
    year = date[:4]
    year= pd.to_datetime(year).year
    return year
 
df['year'] = df.date.apply(get_year)
df.head(5)

,idx,sepal_length,sepal_width,petal_length,petal_width,species,date,year
0,1,5.100,3.500,1.400,0.200,setosa,1999/6,1999
1,2,4.900,3.000,1.400,0.200,setosa,2011/5,2011
2,3,4.700,3.200,1.300,0.200,setosa,1997/3,1997
3,4,4.600,3.100,1.500,0.200,setosa,2015/2,2015
4,5,5.000,3.600,1.400,0.200,setosa,1991/1,1991

# Grouby

In [23]:
df.groupby(df.year // 10 * 10).describe()
# 按年代分组， 再获得每组的统计值

               idx  sepal_length  sepal_width  petal_length  petal_width  \
year
1980 count  42.000        42.000       42.000        42.000       42.000
     mean   70.905         5.574        2.907         3.412        1.026
     std    37.652         0.755        0.421         1.678        0.684
     min     9.000         4.400        2.000         1.200        0.200
     25%    40.250         5.000        2.600         1.525        0.225
     50%    67.500         5.500        2.900         4.000        1.150
     75%   102.750         6.200        3.200         4.675        1.500
     max   138.000         7.700        3.800         6.900        2.300
1990 count  37.000        37.000       37.000        37.000       37.000
     mean   64.243         5.643        3.073         3.400        1.049
     std    45.423         0.729        0.451         1.742        0.747
     min     1.000         4.400        2.300         1.200        0.100
     25%    27.000         5.000        2.800         1.500        0.200
     50%    65.000         5.600        3.000         3.900        1.200
     75%    95.000         6.100        3.400         4.900        1.800
     max   150.000         7.600        4.100         6.600        2.200
2000 count  41.000        41.000       41.000        41.000       41.000
     mean   80.927         6.063        3.120         4.007        1.344
     std    38.568         0.767        0.472         1.687        0.767
     min    16.000         4.600        2.200         1.000        0.200
     25%    50.000         5.500        2.800         1.900        0.600
     50%    81.000         5.900        3.000         4.300        1.400
     75%   108.000         6.700        3.400         5.100        1.900
     max   145.000         7.700        4.400         6.300        2.500
2010 count  30.000        30.000       30.000        30.000       30.000
     mean   88.400         6.167        3.163         4.343        1.430
     std    51.716         0.955        0.341         1.886        0.815
     min     2.000         4.300        2.500         1.100        0.100
     25%    41.250         5.500        3.000         2.300        0.650
     50%   112.500         6.350        3.150         5.100        1.700
     75%   134.250         6.700        3.375         5.600        2.000
     max   149.000         7.900        3.900         6.700        2.400

                year
year
1980 count    42.000
     mean  1,983.905
     std       2.912
     min   1,980.000
     25%   1,981.250
     50%   1,984.000
     75%   1,986.750
     max   1,989.000
1990 count    37.000
     mean  1,994.568
     std       2.873
     min   1,990.000
     25%   1,992.000
     50%   1,995.000
     75%   1,997.000
     max   1,999.000
2000 count    41.000
     mean  2,004.390
     std       2.810
     min   2,000.000
     25%   2,002.000
     50%   2,004.000
     75%   2,007.000
     max   2,009.000
2010 count    30.000
     mean  2,012.033
     std       1.771
     min   2,010.000
     25%   2,010.250
     50%   2,012.000
     75%   2,013.000
     max   2,015.000

# Grouping by multiple columns

In [24]:
df.groupby([df.year // 10 * 10, df.sepal_length // 1]).mean()
# decade & sepal_length

                      idx  sepal_length  sepal_width  petal_length  \
year sepal_length
1980 4.000         42.889         4.678        2.900         2.011
     5.000         57.158         5.342        2.995         2.811
     6.000        106.692         6.369        2.808         4.992
     7.000        119.000         7.700        2.600         6.900
1990 4.000         22.000         4.700        3.167         1.417
     5.000         54.158         5.421        3.168         2.900
     6.000        100.700         6.290        2.850         4.970
     7.000        104.500         7.350        3.000         6.250
2000 4.000         23.000         4.600        3.600         1.000
     5.000         61.650         5.475        3.250         2.930
     6.000         96.467         6.513        2.933         4.953
     7.000        123.000         7.360        3.060         6.080
2010 4.000         16.333         4.717        3.167         1.417
     5.000         62.667         5.467        3.367         2.633
     6.000        113.500         6.425        3.062         5.213
     7.000        110.000         7.500        3.360         6.100

                   petal_width      year
year sepal_length
1980 4.000               0.478 1,983.667
     5.000               0.763 1,983.842
     6.000               1.692 1,984.077
     7.000               2.300 1,985.000
1990 4.000               0.200 1,995.667
     5.000               0.858 1,994.789
     6.000               1.710 1,994.300
     7.000               2.100 1,990.500
2000 4.000               0.200 2,003.000
     5.000               0.915 2,004.500
     6.000               1.767 2,004.267
     7.000               2.020 2,004.600
2010 4.000               0.150 2,013.000
     5.000               0.833 2,010.667
     6.000               1.881 2,011.875
     7.000               1.880 2,012.200

# 合并数据集

In [37]:
df2 = pd.DataFrame({'idx':range(1,151),
                   'month2':np.random.randint(low=1,high=13,size=150)})

In [38]:
df12 = pd.merge(df, df2,on='idx')
df12.head(5)

,idx,sepal_length,sepal_width,petal_length,petal_width,species,date,year,month2
0,1,5.100,3.500,1.400,0.200,setosa,1999/6,1999,3
1,2,4.900,3.000,1.400,0.200,setosa,2011/5,2011,5
2,3,4.700,3.200,1.300,0.200,setosa,1997/3,1997,6
3,4,4.600,3.100,1.500,0.200,setosa,2015/2,2015,5
4,5,5.000,3.600,1.400,0.200,setosa,1991/1,1991,2

# Saving your data to a csv

In [46]:
df12.to_csv('df12.csv')